# junit.jar - JUnit 3.2+ Classpath
junit.jar=/java/junit/junit.jar

# jakarta-commons-collections.jar
collections.jar=../../jakarta-commons/collections/dist/commons-collections.jar

# jakarta-commons-logging.jar
logging.jar=../../jakarta-commons/logging/dist/commons-logging.jar

# dom4j.jar - go to http://dom4j.org to download
dom4j.jar=/java/dom4j/dom4j.jar

# you can change this property to point at a local copy of the java 2 platform api
jdk-doc-url=http://java.sun.com/products/jdk/1.3/docs/api
